<h1>Edit friend</h1>

<%= render "form", friend: @friend %>

<br>

<div>
  <%= link_to "Show", @friend, class: 'btn btn-primary' %> 
  <%= link_to "Back", friends_path, class: 'btn btn-danger'%>
</div>
